.input-container {
    margin-bottom: 50px;
    display: flex;
    gap: 5px;
}

.boards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.board-table {
    text-align: center;
    margin-top: 10px;
    background-color: seashell;
    border-collapse: collapse;
}

.tile {
    border: 1px solid black;
    width: 35px;
    height: 35px;
    text-align: center;
}

.marked {
    background-color: yellow;
}